<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="key" value="3"/>
		<add key="key_xxtea" value="64146157,04122001,53271253,51212632"/>
		<add key="key_cbc" value="64146157,46136472"/>
		<add key="deadline_time" value="120"/>
		<add key="received_files_folder" value="..\..\..\..\Received\"/>
	</appSettings>
	<connectionStrings>
		<add name="database_connectionMS" connectionString="Server=(localdb)\Zastita;Database=Chat5"/>
		<add name="database_connection" connectionString="Host=localhost:5432;Database=postgres;Username=postgres;Password=password;"/>
	</connectionStrings>
</configuration>